@import url(./fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

:root {
    --white: #FFF;
    --primary-color: #34313D;
    --text-color: #9E9AA8;
    --btn-color: #2BD0D0;
    --card-icon-color: #3A3054;
    --background: #EFF1F7;
    --poppins: "Poppins";
}

body {
    font-family: var(--poppins);
}

.container {
    padding-left: 165px;
    padding-right: 165px;
}

.header {
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left-side {
    display: flex;
    align-items: center;
}

.header-left-list {
    display: flex;
    column-gap: 30px;
    margin-left: 45px;
}

.header-left-link {
    color: #9E9AA8;
    font-family: var(--poppins);
    font-size: 15px;
    font-weight: 700;
    transition: .5s;
}

.header-right-side {
    display: flex;
}

.header-right-list {
    display: flex;
    column-gap: 37px;
}

.header-right-link {
    color: #9E9AA8;
    font-family: var(--poppins);
    font-size: 15px;
    font-weight: 700;
    transition: .5s;
}

.header-right-link:active{
    color: var(--primary-color);
}

.header-left-link:active{
    color: var(--primary-color);
}

.all-btn {
    color: #FFF;
    font-family: var(--poppins);
    font-size: 15px;
    font-weight: 700;
    background-color: var(--btn-color);
    padding: 8px 24px;
    border-radius: 28px;
}

.all-btn:active{
    color: #9AE3E3;
    opacity: .5;
}

.hero {
    margin-top: 140px;
    display: flex;
}

.hero-title {
    width: 565px;
    color: var(--primary-color);
    font-family: var(--poppins);
    font-size: 80px;
    font-weight: 700;
    line-height: 90px;
    letter-spacing: -2px;
    margin-bottom: 5px;
}

.hero-desc {
    max-width: 540px;
    color: var(--text-color);
    font-family: var(--poppins);
    font-size: 22px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0.15px;
    margin-bottom: 52px;
}

.hero-btn {
    color: #FFF;
    font-family: var(--poppins);
    font-size: 20px;
    font-weight: 700;
}

.hero-image {
    width: 482px;
    height: 397px;
}

.search-section {
    position: absolute;
    display: flex;
    padding: 52px 64px;
    width: 1110px;
    height: 168px;
    position: relative;
    column-gap: 24px;
    top: 68px;
    margin-left: 165px;
    margin-right: 165px;
}

.search-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 1050px;
    height: 168px;
    border-radius: 10px;
}

.search-input {
    width: 769px;
    height: 64px;
    padding-left: 32px;
    border-radius: 10px;
    background: var(--white);
    border: none;
    outline: none;
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0.15px;
    z-index: 1;
}

.search-btn {
    padding: 18px 40px;
    background-color: var(--btn-color);
    color: var(--white);
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    transition: .5s;
    z-index: 1;
}

.search-btn:active {
    background-color: #9AE3E3;
    opacity: .5;
}

.main {
    background-color: var(--background);
}

.cards-section {
    margin-top: 204px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards-title {
    color: var(--primary-color);
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -1px;
}

.cards-desc {
    max-width: 540px;
    width: 100%;
    color: var(--text-color);
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.123px;
    margin-left: 285px;
    margin-top: 18px;
}

.cards {
    display: flex;
    margin-top: 56px;
    column-gap: 30px;
    padding-top: 56px;
    padding-bottom: 120px;
}

.card {
    width: 350px;
    height: 267px;
    border-radius: 5px;
    background: #FFF;
    padding-left: 32px;
}

.card-icon {
    width: 88px;
    height: 88px;
    border-radius: 50%;
    background-image: var(--card-icon-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-33px);
}

.card-title {
    color: #34313D;
    font-size: 22px;
    font-weight: 700;
}

.card-desc {
    margin-top: 12px;
    max-width: 286px;
    width: 100%;
    color: #9E9AA8;
    font-size: 15px;
    font-weight: 500;
    line-height: 26px;
}

.card:nth-child(3) {
    transform: translateY(44px);
}

.card:nth-child(4) {
    transform: translateY(88px);
}

.boost-section {
    width: 100%;
    margin-top: 120px;
    padding-top: 57px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--card-icon-color);
    padding-bottom: 69px;
}

.boost-title {
    color: #FFF;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -1px;
    margin-bottom: 32px;
}

.boost-btn {
    color: var(--white);
    font-family: var(--poppins);
    font-size: 20px;
    font-weight: 700;
    padding: 14px 40px;
}

.footer {
    background-color: #232127;
    padding-top: 71px;
    padding-bottom: 70px;
}

.footer__logo {}

.lists{
    display: flex;
}

.footer-center-list {
}

.footer-link {
    color: #BFBFBF;
    font-family: var(--poppins);
    font-size: 15px;
    font-weight: 500;
    letter-spacing: -0.234px;
    transition: .5s;
}

.footer-link:active{
    color: #2BD0D0;
}

.footer-last-list {
    display: flex;
}

.footer-last-link {
    color: white;
    transition: .5s;
}

.footer-last-link:active{
    color: #2BD0D0;
}